<!-- HTML Header Files -->
<% include includes/dashboardHeader %>
<% include includes/header %>
<% include includes/dashboardSideBar %>
<% include includes/dashboardHeaderBar %>

	<div class="centeredContent">
		<h1 style="display: inline;">
			Applicant Information
		</h1>
		<div class="well" style="margin-top:100px;border:solid 10px;">
        	<h3 style="display:inline"><%= applyData[0].firstName %></h3>
            <h3 style="display:inline"><%= applyData[0].lastName %></h3>
            <textarea rows="10" name="questions" style="width:100%;"><%= applyData[0].answers %></textarea>
            <br>
            <br>
            <button id="approve" class="btn btn-success" <%- '\" onclick=\"approvePerson('+applyData[0].userID+')\"'%>>Approve</button>
			<button id="reject" type="submit" class="btn btn-danger"  <%- '\" onclick=\"rejectPerson('+applyData[0].userID+')\"'%>>Reject</button>
			</div> <!-- /well -->
	</div> <!-- /container-wide -->

        
	<!-- Load Java Script -->
    <% include includes/footer %>
        
    <script>
    	function approvePerson(id) {
        	$.ajax({
            	type: "GET",
                url: "/approveApp/"+id,
                success: function(data)
                {
                	window.alert("Approved!");
                    window.location = "/dashboard";
				},
                error: function()
                {
                        alert("error");
                }
            });
        	return false;
		}
                
		function rejectPerson(id) {
        	$.ajax({
            	type: "GET",
                url: "/rejectApp/"+id,
                success: function(data)
                {
                	window.alert("Rejected!");
                    window.location = "/dashboard";
				},
                error: function()
                {
                	alert("error");
				}
			});
            return false;
		}
	</script>