<% include includes/header %>

            <div class="masthead">
                <div class="container-wide">
                    <div class="row">
                        
                        <h1 style="display: inline;">
                            Applicant Information
                        </h1>
                        <div class="well" style="margin-top:100px;border:solid 10px;">
                                <h3 style="display:inline"><%= applyData[0].firstName %></h3>
                                <h3 style="display:inline"><%= applyData[0].lastName %></h3>
                                <textarea rows="10" name="questions" style="width:100%;"><%= applyData[0].answers %></textarea>
                                <br>
                                <br>
                                 <button id="approve" class="btn btn-success" <%- '\" onclick=\"approvePerson('+applyData[0].userID+')\"'%>>Approve</button>
                                <button id="reject" type="submit" class="btn btn-danger">Reject</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="push">
            </div>
        </div>

        <% include includes/footer %>
        <script>

            //console.log(<%= applyData[0].userID %>);
        /*    var userIDtemp = <%= applyData[0].userID %>;
            $("#approve").click(function() {
                $.ajax({
                type: "POST",
                url: '/approveApp',
                data: {participantID:userIDtemp}, 
                success: function(data)
                {
                   window.alert("Approved!");
                   window.location = "/dashboard";
                }
                }); */
            function approvePerson(id) {
                alert("Approved");

                $.ajax({
                type: "GET",
                url: "/approveApp/"+id,
                success: function(data)
                {
                                       //window.alert("Approved!");
                   //window.location = "/dashboard";
                }
                });
                //window.location.replace("/dashboard");
                //window.location.href= "google.com";

                return false;
             }
                

                //return false;
            //});

        </script>