<!-- HTML Header Files -->
<% include includes/dashboardHeader %>
<% include includes/dashboardSideBar %>
<% include includes/dashboardHeaderBar %>


    <!--  Web Page Content -->
    <div class="container">    
    
    	<!-- Chart -->
    	<div class="chart">
			<h3 align="center">Number of Diary Entries</h3>
			<table id="data-table" border="1" cellpadding="10" cellspacing="0" summary="The effects of the zombie outbreak on the populations of endangered species from 2012 to 2016">
				<caption></caption>
				<thead>
					<tr>
						<td>&nbsp;</td>						
						<th scope="col">2012</th>
						<th scope="col">2013</th>
						<th scope="col">2014</th>
						<th scope="col">2015</th>
						<th scope="col">2016</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<groups.length; i++) {%>   
						<tr>	
							<th scope="row"><%= groups[i].name %></th>
							<td>4080</td>
							<td>6080</td>
							<td>6240</td>
							<td>3520</td>
							<td>2240</td>			             
						</tr>
					<% } %>					
				</tbody>
			</table>
		</div> <!-- /chart -->	    
	    
		<!-- Group List -->
	    <h3>Groups</h3>
		<table class="group table table-hover">		
			<tr>
				<th>Group</th>
				<th>Number of Participants</th>
				<th>Application Form Link</th>
	            <th>Start Date</th>
	            <th>End Date</th>
			</tr>
			
            <% for(var i=0; i<groups.length; i++) {%>           
                <tr id='<%= groups[i].groupID %>' onclick="showParticipants(this.id)">
                    <td><%= groups[i].name %></td>
                    <td><%= groups[i].numOfParticipants %></td>
                    <td><a href="/apply/<%= groups[i].groupID %>">Application Form</a></td>
                    <td><%= groups[i].startDate %></td>
                    <td><%= groups[i].endDate %></td>
                 </tr>
             
            <% } %>
		</table>
	      
    
    <!-- Write this in Javascript -->
    <h3>Pending Applications</h3>
	<table class="application table table-hover">
		<tr>
			<th>User ID</th>
			<th>First Name</th>
			<th>Last Name</th>
            <th>Group</th>
            <th>Application Submitted</th>            
		</tr>
		<% for(var i=0; i<queue.length; i++) {%>
   		<%- '<tr id=\"applicant' %>
   		<%- i %>
   		<%- '\" onclick=\"showApplicants('+queue[i].userID+')\"'%> 
   		<tr>
   			<td id="id"><%= queue[i].userID %></td>
			<td id="firstName"><%= queue[i].name %></td>
			<td id="lastName"><%= queue[i].lastName %></td>
		    <td id="grpName"><%= queue[i].gname %></td>
			<td>Today</td>
	 	 </tr>
	<% } %>
	</table>
	
	</div>
    
    
    <!-- Java Script -->
   	<script>  	
		/*Direct user to applicants page*/
		function showApplicants(id) {
			window.location.href = "/applicants/"+id;
			return false;
		}

        /*Direct user to a list of participants for a group*/
        function showParticipants(id) {
		    var link = "/group/"+id;
            console.log(link);
		    window.location.href = link;
		} 

    </script>
    
	<!-- Loads Java Script -->
    <% include includes/footer %>
	
	<!-- Chart Animation -->
	<script src="/public/assets/custom/js/chartAnimation.js" type="text/javascript"></script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    