<% include includes/dashboardHeader %>

	<!-- Side Menu Bar -->
    <div class="sideMenu">     
        <nav class="navbar navbar-inverse" role="navigation"> 
            <a class="space" href="#">Top</a>
            <a class="navbar-side" href="#">Home</a>
            <a class="navbar-side" href="#">Application</a>
            <a class="navbar-side" href="#">Groups</a>        
        </nav>      
            
    </div>
 
	<!-- Top Menu Bar -->
	<div class="menuBar">
		<!-- <nav class="navbar navbar-default" role="navigation"> -->
		<nav class="navbar navbar-default">
			<div class="row">
				<div class="topMenu col-md-6">
					
					<table class="">
						<tr>
							<td>
								<a href="#"> <img class="icon" src="/public/assets/custom/img/Research Pal v5.png"
									alt="Research Pal">
								</a>
							</td>
							<td>
								<p class="title">Dashboard</p>
							</td>
						</tr>
					</table>					
				</div>
	
				<div class="researcherInfo col-md-6">	
					<table class="userInfo pull-right">
						<tr>
							<td>
								<p class="welcomeTag">Welcome</p>
								<p class="researcher" onload="researcherName()"><%= username %></p>
							</td>
							<td>
								<a href="/researchAuth/logout"><button type="submit" class="btn logout btn-danger">Logout</button></a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</nav>
	
	</div>
	
   
    
    <!--  Web Page Content -->
    <div class="container">
	    <!-- Display notifications -->
	     <div class="row">
			  <div class="col-md-4">
			  	<div class="Create Form">
				    <a href="/createForm">
	                	<img class="notificationImg" src="/public/assets/custom/img/Create Form.png" alt="Research Pal">
	                </a>
				 </div>
			  </div>
			 
			  <div class="col-md-4">
				<div class="Messages">
					<a href="/createForm">
	                	<img class="notificationImg" src="/public/assets/custom/img/Messages.png" alt="Research Pal">
	                </a>
				 </div>
			  </div>
			  
			  
			  <div class="col-md-4">
			  	<div class="Application">
			  		<a href="/createForm">
				    	<img class="notificationImg" src="/public/assets/custom/img/Applications.png" alt="Research Pal">
				    </a>
				 </div>
			  </div>
		</div>
	    
	    
	    	    <!-- Group List -->
	    <h3>Groups</h3>
		<table class="group table table-hover">		
			<tr>
				<th>Group</th>
				<th>Number of Participants</th>
	            <th>Start Date</th>
	            <th>End Date</th>
			</tr>
			
            <% for(var i=0; i<groups.length; i++) {%>           
                <tr id='<%= groups[i].groupID %>' onclick="showParticipants(this.id)">
                    <td><%= groups[i].name %></td>
                    <td><%= groups[i].numOfParticipants %></td>
                    <td><%= groups[i].startDate %></td>
                    <td><%= groups[i].endDate %></td>
                 </tr>
             
            <% } %>
		</table>
	      
    
    <!-- Write this in Javascript -->
    <h3>Pending Applications</h3>
	<table class="application table table-hover">
		<tr>
			<th>User ID</th>
			<th>First Name</th>
			<th>Last Name</th>
            <th>Group</th>
            <th>Application Submitted</th>            
		</tr>
		<% for(var i=0; i<queue.length; i++) {%>
   		<%- '<tr id=\"applicant' %>
   		<%- i %>
   		<%- '\" onclick=\"showApplicants('+queue[i].userID+')\"'%> 
   		<tr>
   			<td id="id"><%= queue[i].userID %></td>
			<td id="firstName"><%= queue[i].name %></td>
			<td id="lastName"><%= queue[i].lastName %></td>
		    <td id="grpName"><%= queue[i].gname %></td>
			<td>Today</td>
	 	 </tr>
	<% } %>
	</table>
	
	</div>
    
    <script>  	

		function showApplicants(id) {
			window.location.href = "/applicants/"+id;
			return false;
		}
        
        function showParticipants(id) {
		    var link = "/group/"+id;
            console.log(link);
		    window.location.href = link;
		} 

    </script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    