<!-- HTML Header File -->
<% include includes/dashboardHeader %>

    <!-- Top Menu Bar -->
    <div class="menuBar">
        <nav class="navbar navbar-default" style="color-background: #000000;">
            <div class="row">
                <div class="topMenu col-md-6">					
                    <table>
                        <tr>
                            <td>
                                <a href="#"> <img class="icon" src="/public/assets/custom/img/Research Pal v5.png"
                                    alt="Research Pal">
                                </a>
                            </td>
                            <td>
                                <p class="title"><%= groupName %></p>
                            </td>
                        </tr>
                    </table>					
                </div>

                <div class="researcherInfo col-md-6">	
                    <table class="userInfo pull-right">
                        <tr>
                            <td>
                                <p class="welcomeTag">Welcome <%= username %></p>
                            </td>
                            <td>
                                <a href="/researchAuth/logout"><button type="submit" class="btn logout btn-danger">Logout</button></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </nav>
    </div>
   
    <!--  Web Page Content -->
    <div class="container">
	    
	    <!-- Participants in group list -->
	    <h3>Participants</h3>
		<table class="participants table table-hover">
			<!-- Table Headers -->
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
	            <th>Email</th>
			</tr>
			
			<!-- Table Content -->
            <% for(var i=0; i<participants.length; i++) {%>
                <tr onclick="$(function(){ window.location.href = '/message/<%= participants[i].userID %>' });">
                    <td><%= participants[i].name %></td>
                    <td><%= participants[i].lastName %></td>
                    <td><%= participants[i].email %></td>
                 </tr>
            <% } %>
		</table>
	  <br>