<% include includes/projectHeader %>
     
	<div class="masthead">
		<div class="container-wide">
        	<div class="row centered-text">
            	<img class="" src="/public/assets/custom/img/Research Pal v5.png" alt="Research Pal">
                <h1 class="title">
                	Active Projects
				</h1>
        	</div>
    	</div>
	</div>
 
	
	
    <!--  Web Page Content -->
    <div class="container">
    	<% for(var i=0; i<project.length; i++) {%>
		<div class="hero-unit" onclick="showForm(<%= project[i].groupID %>)">
			<div class="row">
				<h2><b><%= project[i].groupName %></b></h2>
				<div class="row">	
					<div class="col-md-5">
				    	<h3><b>Researcher: </b><%= project[i].name %> <%= project[i].lastname %></h3>
					</div>
					<div class="col-md-4">
						<h4><b>Start Date: </b><%= project[i].startDate %></h4>
				    	<h4><b>End Date: </b><%= project[i].endDate %></h4>
					</div>
					<div class="col-md-3">
						Apply
					</div>
				</div>
			</div> <!-- /row -->   
		</div> <!-- /container -->      
		<% }; %>
		
	</div>
    
    <script>    
    	/*Directs the user to the application for to the project they have selected*/
		function showForm(groupID) {
		    window.location.href = "/apply/"+groupID;
			return false;
		}
    </script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    